*{
    color: #e97070;
    margin: 0;
    font-family: "Yu Gothic UI", "Arial"
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;    
}

.load_static{
    display: none;
}

/* Top */   
.top-logo-outer{
    height: 7vh;
    /* background: #fad7d9; */
    /* background: #efd8ad; */
    background:rgba(25, 25, 25, 0.1);
}

.yazaki_logo{
    margin-top: 2vh;
    margin-right: 1.2vh;
    float: right;

}

.yazaki_logo img{
    width: 30vw;
}

.top-datetime-outer{
    height: 12vh;
    /* background: #f8a5a5; */
    background: #efc06b;
}

.top-left-date{
    float: left;
    width: 55%;
    height: 60%;
    margin-top: 3.2vh;
    /* background: #f8a5a5; */
    background: #efc06b;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-time{
    float: left;
    width: 45%;
    height: 100%;
    /* background: #f8a5a5; */
    background: #efc06b;
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Middle */ 
.middle-main-outer{
    height: 62vh;
    background: #ffffff;
}

.call-button{
    position: relative;
    width: 95vw;
    height: 22.5vh;
    border: none;
    border-radius: 5px;
    background:rgba(25, 25, 25, 0.1);
}

.call-button:active{
    background:rgba(255, 0, 0, 0.5);
}

/* Middle Top */ 
.middle-top-call-outer{
    width: 95vw;
    height: 24.5vh;
    margin: 0 auto;
    transform: translateY(1.5vh);
    border-radius: 5px;
}

.middle-left-logo-outer{
    width: 13rem;
    height: 13rem;
    /* background:rgb(248, 177, 177); */
    background:rgba(121, 175, 230, 0.5);
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translate(2rem, -50%);
}

.middle-left-logo-inner{
    width: 11rem;
    height: 11rem;
    /* background:rgba(255, 230, 230, 0.8); */
    background:rgba(228, 232, 244, 0.5);
    border-radius: 100%;
    position: relative;
    top: 50%;
    transform: translate(1rem, -50%);
}

.call_logo img{
    width: 9rem;
    height: 9rem;
    display: block;
    margin: auto;
    transform: translateY(1.2vh);
}

.middle-right-title-outer{
    float: right;
    width: 57vw;
    height: 25vh;
    background:rgba(255, 0, 0, 0);
}

.middle-right-top-maintitle{
    position: relative;
    float: left;
    height: 7vh;
    background:rgba(255, 208, 0, 0);
    transform: translate(0, 5.5vh);
}

.middle-right-top-maintitle h1{
    color: #000000;
    font-size: 4.2rem;
    font-weight: bold;
}

.middle-right-top-subtitle{
    position: relative;
    float: left;
    height: 7vh;
    background:rgba(255, 0, 0, 0);
    transform: translate(0, 5.5vh);
}

.middle-right-top-subtitle h2{
    color: #858585;
    font-size: 2.2rem;
    font-weight: bold;
}

/* Middle Bottom */ 
.middle-bottom-schedule-outer{
    position: relative;
    width: 95vw;
    height: 35vh;
    /* background:rgba(25, 25, 25, 0.1); */
    margin: 0 auto;
    border-radius: 5px;
    transform: translate(0, 0.5vh);
}

.middle-bottom-left-schedule{
    position: relative;
    float: left;
    width: 60%;
    height: 100%;    
    /* background: #f8a5a5; */
    border-radius: 5px;
}

.schedule_1 h1{
    position: relative;
    color: #111111;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.schedule_2 h1{
    position: relative;
    color: #111111;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.schedule_3 h1{
    position: relative;
    color: #111111;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}


.middle-bottom-right-calendar{
    position: relative;
    float: right;
    width: 40%;
    height: 95.5%;    
    border-radius: 5px;
    margin-top: 1vh;
}

.schedule_1{
    float: left;
    position: relative;
    width: 95%;
    height: 30%;
    background:rgba(25, 25, 25, 0.1);
    margin: 0 auto;
    margin-top: 1vh;
    border-radius: 5px;
}

.schedule_2{
    float: left;
    position: relative;
    width: 95%;
    height: 30%;
    background:rgba(25, 25, 25, 0.1);
    margin: 0 auto;
    margin-top: 1vh;
    border-radius: 5px;
}

.schedule_3{
    float: left;
    position: relative;
    width: 95%;
    height: 30%;
    background:rgba(25, 25, 25, 0.1);
    margin: 0 auto;
    margin-top: 1vh;
    border-radius: 5px;
}

.calendar_button{
    cursor: pointer;
    position: relative;
    float: left;
    width: 100%;
    height: 65.5%;
    background:rgba(25, 25, 25, 0.1);
    border: none;
    border-radius: 5px;
}

.calendar_button:active{
    background:rgba(255, 0, 0, 0.5);
}

.calendar_logo{
    position: relative;
    float: left;
    width: 100%;
    height: 90%;
}

.calendar_logo img{
    width: 10rem;
    height: 10rem;
    display: block;
    margin: auto;
    transform: translateY(3vh);
}

.calendar_text{
    position: relative;
    float: left;
    width: 100%;
    height: 31%;
    background:rgba(25, 25, 25, 0.1);
    border-radius: 5px;
    transform: translateY(1.2vh);
}

.calendar_text h1{
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    
}

.bottom-footer-outer{
    height: 17vh;
    /* background:rgba(25, 25, 25, 0.2); */
    background:rgba(25, 25, 25, 0.1);
    /* background:#ff1111; */
}

/* Bottom Footer */ 
.moji_logo{
    position: relative;
    float: left;
    width: 35vw;
    height: 10vh;
    top: 50%;
    transform: translate(20%, -90%);
    /* background: #ff1111; */
}

.moji_logo img{
    position: relative;
    width: 20rem;
    height: 12rem;
    display: block;
    margin: auto;
    transform: translate(-10%, -0%);
}

.tatemono_logo{
    position: relative;
    float: right;
    width: 60vw;
    height: 100%;
}

.tatemono_logo img{
    position: relative;
    width: 100%;
    height: 100%;
}


/* Popup Calendar */
.popup-wrap{
    background-color:rgba(0,0,0,.3); 
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
  }

  .popup{
    width:100%;
    max-width:80%;
    height:65vh;
    border-radius:5px;
    overflow:hidden;
    background-color:#fc7676;
    box-shadow: 5px 10px 10px 1px rgba(25,25,25,.3); 
  }

  .popup-head{
    width:100%;
    height:5vh; 
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .popup-head span,
  .popup-foot span{
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .popup-body{ 
    width:100%;
    height: 55vh;
    background-color:#ffffff;
    overflow-y:scroll;
    overflow-x:hidden;
  }
  .body-content{ 
    width:100%;
    padding:30px;           
  }
  .body-titlebox{    
    text-align:left;     
    width:100%;
    height:40px;
    margin-bottom:5px;
  }

  .body-titlebox h1{
    font-size: 1.8rem;
    color: #997777;
  }

  .body-contentbox{
    word-break:break-word;
    overflow-y:auto;
    min-height:100px;  
    max-height:200px;        
  }

  .body-contentbox p{
    font-size: 2rem;
    font-weight: bold;
    color: #555555;
  }

  .body-contentbox p span{
    color: #999999;
  }

  .popup-foot{                 
    width:100%;
    height:5vh;
  }
  .pop-btn{
    cursor: pointer;
    display:inline-flex;        
    width:100%;                    
    height:100%;                  
    justify-content:center;         
    align-items:center;            
    float:left;                    
    color:#ffffff;                
    cursor:pointer;                 
  }
