
*{
    color: #ff0000;
    margin: 0;
    font-family: "Yu Gothic UI", "Arial"
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #ffff11;
    overflow: hidden;
}

.load_static{
    display: none;
}

/* Top */
.top-logo-outer{
    height: 7vh;
    background: #fad7d9;
}

.yazaki_logo{
    margin-top: 2vh;
    margin-right: 1.2vh;
    float: right;

}

.yazaki_logo img{
    width: 30vw;
}

.top-datetime-outer{
    height: 12vh;
    background: #f8a5a5;
}

.top-left-date{
    float: left;
    width: 55%;
    height: 60%;
    margin-top: 3.2vh;
    background: #f8a5a5;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-time{
    float: left;
    width: 45%;
    height: 100%;
    background: #f8a5a5;
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Middle */ 
.middle-main-outer{
    height: 62vh;
    background: #ffffff;
}

.middle-top-call-outer{
    width: 95vw;
    height: 25vh;
    background:rgba(25, 25, 25, 0.1);
    margin: 0 auto;
    transform: translateY(1.5vh);
    border-radius: 5px;
}

.middle-top-call-outer:active{
    background:rgba(255, 0, 0, 0.5);
}

.middle-left-logo-outer{
    /* width: 27.5vw;
    height: 70%; */

    width: 12rem;
    height: 12rem;

    background: #f8a5a5;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);


}

/* .call_logo{
    position: relative;
} */

.call_logo img{
    

    width: 9rem;
    height: 9rem;
    display: block;
    margin: auto;
    transform: translateY(2vh);
    
    /* justify-content: center; */
    /* align-items: center; */
}