
*{
    color: #ff0000;
    margin: 0;
    font-family: "Yu Gothic UI", "Arial"
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    background: #ffff11;
    overflow: hidden;
}

.load_static{
    display: none;
}


.top-logo-outer{
    
    height: 7vh;
    background: #fad7d9;
}

.yazaki_logo{
    margin-top: 1.2vh;
    margin-right: 1.2vh;
    float: right;

}

.yazaki_logo img{
    width: 30vw;
}

.top-datetime-outer{
    height: 10vh;
    background: #f8a5a5;
}

.top-left-date{
    float: left;
    width: 55%;
    height: 60%;
    margin-top: 3.2vh;
    background: #f8a5a5;
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right-time{
    float: left;
    width: 45%;
    height: 100%;
    background: #f8a5a5;
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}