<!DOCTYPE html>
<div class="load_static"> {% load static %} </div>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">

</head>

<body>
    
  <div class="top-logo-outer">
    <div class="yazaki_logo">
      <img src="../../../images/yazaki_logo.png" alt="">
    </div>
  </div>

  <div class="top-datetime-outer">
    
    <div id="date" class="top-left-date"> </div>
    <div id="clock" class="top-right-time"> </div>

  </div>





  


</body>

<script>
  
  // ###############################################
  // [時刻表示]
  // ###############################################
  
  var clockTarget = document.getElementById("clock");
  var dateTarget = document.getElementById("date");

  function clock() {
      var time = new Date();
      var years = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var hours = time.getHours();
      var minutes = time.getMinutes();
      var seconds = time.getSeconds();
      
      dateTarget.innerText = `${years}.${month < 10 ? `0${month+1}` : month}.${date}`;
      clockTarget.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}`;

  }
  clock();
  setInterval(clock, 1000); // 実行 ： 1秒

  // ###############################################

</script>


</html>






