<!DOCTYPE html>
<div class="load_static"> {% load static %} </div>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">

</head>

<body>
    
  <!-- ロゴ(矢崎) -->
  <div class="top-logo-outer">
    <div class="yazaki_logo">
      <img src="../../../images/yazaki_logo.png" alt="">
    </div>
  </div>

  <!-- 日付、時刻 -->
  <div class="top-datetime-outer">    
    <div id="date" class="top-left-date"> </div>
    <div id="clock" class="top-right-time"> </div>
  </div>

  <!-- mainエリア -->
  <div class="middle-main-outer">    
    
    <!-- Skype通話ボタン -->
    <div class="middle-top-call-outer">
      <button class="call-button">
        
      
        <!-- ロゴ(通話) -->
        <div class="middle-left-logo-outer">
          <div class="middle-left-logo-inner">
            <div class="call_logo">
              <img src="../../../images/call.png" alt="">
            </div>
          </div>
        </div>

        <!-- 連絡先_メイン -->
        <div class="middle-right-title-outer">
          <div class="middle-right-top-maintitle">
              <h1> グループホーム </h1>
          </div>

          <!-- 連絡先_サブ -->
          <div class="middle-right-top-subtitle">
            <h2> 静岡県裾野市 </h2>
          </div>

        </div>
      </button>
    </div>

    <!-- スケジュール、カレンダー -->
    <div class="middle-bottom-schedule-outer">

      <!-- スケジュール -->
      <div class="middle-bottom-left-schedule">
        <div class="schedule_1">
          <h1>2023.04.15 <span>スケジュール１</span></h1>
        </div>
        <div class="schedule_2">
          <h1>2023.05.15 <span>スケジュール２</span></h1>
        </div>
        <div class="schedule_3">
          <h1>2023.06.15 <span>スケジュール３</span></h1>
        </div>
      </div>

      <!-- カレンダー -->
      <div class="middle-bottom-right-calendar">
        <button class="calendar_button" id="modal-open">
          <div class="calendar_logo">
            <img src="../../../images/calendar.png" alt="">
          </div>
        </button>


        <div class="calendar_text">
          <h1> カレンダー </h1>
        </div>
      </div>
    </div>
  
  </div>

  <!-- Footer -->
  <div class="bottom-footer-outer">
    
    <!-- 紙ふうせん文字 -->
    <div class="moji_logo">
      <img src="../../../images/logo_kamihusen.png" alt="">
    </div>

    <!-- 紙ふうせん建物 -->
    <div class="tatemono_logo">
      <img src="../../../images/background_kamihusen.png" alt="">
    </div>
  </div>

  <div class="container">
    <div class="popup-wrap" id="popup"> 
      <div class="popup">
        <div class="popup-head">	
            <span class="head-title">BYTHEM</span>
        </div>
        <div class="popup-body">	
          <div class="body-content">
            <div class="body-titlebox">
              <h1>Confirm Modal</h1>
            </div>
            <div class="body-contentbox">
              <p> 모달 내용칸 </p>
            </div>
          </div>
        </div>
        <div class="popup-foot">
          <span class="pop-btn confirm" id="confirm">확인</span>
          <span class="pop-btn close" id="close">창 닫기</span>
        </div>
      </div>
     </div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $("#confirm").click(function(){
          modalClose();

      });
      $("#modal-open").click(function(){        
          $("#popup").css('display','flex').hide().fadeIn();
      });
      $("#close").click(function(){
          modalClose();
      });
      function modalClose(){
          $("#popup").fadeOut();
      }
    });  
  </script>

</body>

<script>
  
  // ###############################################
  // [時刻表示]
  // ###############################################
  
  var clockTarget = document.getElementById("clock");
  var dateTarget = document.getElementById("date");

  function clock() {
      var time = new Date();
      var years = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var hours = time.getHours();
      var minutes = time.getMinutes();
      var seconds = time.getSeconds();
      
      dateTarget.innerText = `${years}.${month < 10 ? `0${month+1}` : month}.${date < 10 ? `0${date}` : date}`;
      clockTarget.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}`;

  }
  clock();
  setInterval(clock, 1000); // 実行 ： 1秒

  // ###############################################
</script>

</html>






