<!DOCTYPE html>
<div class="load_static"> {% load static %} </div>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">

</head>

<body>
    
  <!-- ロゴ(矢崎) -->
  <div class="top-logo-outer">
    <div class="yazaki_logo">
      <img src="../../../images/yazaki_logo.png" alt="">
    </div>
  </div>

  <!-- 日付、時刻 -->
  <div class="top-datetime-outer">    
    <div id="date" class="top-left-date"> </div>
    <div id="clock" class="top-right-time"> </div>
  </div>

  <!-- mainエリア -->
  <div class="middle-main-outer">    
    
    <!-- Skype通話ボタン -->
    <div class="middle-top-call-outer">

      <!-- ロゴ(通話) -->
      <div class="middle-left-logo-outer">
        <div class="middle-left-logo-inner">
          <div class="call_logo">
            <img src="../../../images/call.png" alt="">
          </div>
        </div>
      </div>

      <!-- 連絡先_メイン -->
      <div class="middle-right-title-outer">
        <div class="middle-right-top-maintitle">
            <h1> グループホーム </h1>
        </div>

        <!-- 連絡先_サブ -->
        <div class="middle-right-top-subtitle">
          <h2> 静岡県裾野市 </h2>
        </div>

      </div>
    </div>

    <!-- スケジュール、カレンダー -->
    <div class="middle-bottom-schedule-outer">

      <!-- スケジュール -->
      <div class="middle-bottom-left-schedule">
        <div class="schedule_1">

        </div>
        <div class="schedule_2">

        </div>
        <div class="schedule_3">

        </div>

      </div>

      <!-- カレンダー -->
      <div class="middle-bottom-right-calendar">

      </div>

    </div>

  </div>

  





  


</body>

<script>
  
  // ###############################################
  // [時刻表示]
  // ###############################################
  
  var clockTarget = document.getElementById("clock");
  var dateTarget = document.getElementById("date");

  function clock() {
      var time = new Date();
      var years = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var hours = time.getHours();
      var minutes = time.getMinutes();
      var seconds = time.getSeconds();
      
      dateTarget.innerText = `${years}.${month < 10 ? `0${month+1}` : month}.${date}`;
      clockTarget.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}`;

  }
  clock();
  setInterval(clock, 1000); // 実行 ： 1秒

  // ###############################################

</script>


</html>






